<h2>Archive</h2>
<ul class="archive-list">
  <% @archive_pages.each do |page| %>
  <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>
  <% end %>
</ul>
