<div class="entry byline">
  <strong>Pete Keen</strong> writes at PeteKeen.net about topics ranging from Ruby to Arduino and everything in between. If you enjoyed this article, <a href="/newsletter?topic=<%= topic %>">join his free newsletter</a>.
</div>
