<div class="entry">
  <h2>404 Not Found</h2>

  <p>Sorry, the page you're looking for isn't here. Did you maybe type the URL wrong?</p>

  <p>You might want to browse the <a href="/archive.html">archives</a> to see if the page you're looking for is there. The <a href="/tags.html">tag list</a> might be helpful too.</p>
</div>
