<div class="about">
<p>
  <img class="thumbnail u-photo" src="https://d2s7foagexgnc2.cloudfront.net/files/afe3b485fe17d72e13bd/me.png">
  <h1>Hi, I'm Pete Keen</h1>
  I've been interested in computers since I was old enough to type and I've been a professional software developer for over seven years. I write about things that interest me: <a href="/tag/Programming">programming</a>, <a href="/tag/Personal%20Finance">personal finance</a>, <a href="/tag/Book%20Reviews">book reviews</a>, and <a href="/essays">more</a>.
</p>
<p style="margin-bottom: 0">
  My book <a href="https://www.masteringmodernpayments.com">Mastering Modern Payments</a> teaches you how to build a robust, reliable Stripe integration with your Rails app.
</p>
</div>
<h2>Recent Articles</h2>
<ul class="article-list">
<% @index_pages.each do |page| %>
  <li><a href="<%= page.html_path %>"><%= page['title'] %></a> <small><%= page.short_date %></small></li>
<% end %>
</ul>

<h2>Featured Articles</h2>
<ul class="article-list">
  <li><a href="/dns-the-good-parts">DNS: The Good Parts</a> <small>19 July 2013</small></li>
  <li><a href="/keeping-finances-with-ledger">Program your Finances: Command Line Accounting</a> <small>23 May 2010</small></li>
  <li><a href="/how-i-run-my-own-dns">How I run my own DNS servers</a> (<a href="/how-and-why-im-not-running-my-own-dns">Updated</a>) <small>31 December 2012</small></li>
  <li><a href="/introduction-to-heroku-buildpacks">Run Anything on Heroku with Custom Buildpacks</a> <small>5 November 2012</small></li>
  <li><a href="/git-backed-personal-markdown-wiki">Distributed Personal Wiki</a> <small>10 May 2013</small></li>
</ul>
