<div id="paymentModal" class="modal hide fade" role="dialog">
  <div class="modal-body">
    <iframe src="about:blank" style="zoom:0.6" width="99.6%" height="450" frameborder="0"></iframe>
  </div>
</div>

<h1 class="book">Mastering Modern Payments <small>Using Stripe with Rails</small></h1>

<div class="question">Build a better Stripe integration with 43% less pain</div>

<p style="margin-bottom: 2em">
<p>
    My new guide <strong><em>Mastering Modern Payments: Using Stripe with Rails</em></strong> will teach you:
</p>

  <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 4em; text-align: center; margin-left: 1.5em;">
    <a href="#packages"><img style="padding-bottom: 20px" src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a><br><a href="#packages" class="btn btn-success btn-large">Start Learning Now</a>
  </div>

<div>
<ul>
<li>Why a simple 10-minute integration <strong>isn't enough</strong>
<li>Dealing with <strong>security</strong> including PCI-DSS
<li>How and why to use <code>stripe.js</code> and <code>checkout.js</code>
<li>How to build <strong>custom payment forms</strong>
<li>How to set up Rails to keep an <strong>audit trail</strong> for you automatically
<li>How to handle <strong>subscription billing</strong>
<li>How to create <strong>marketplaces</strong> with Stripe Connect and Stripe Payouts
<li>How and why you should process payments using a <strong>background worker</strong>
<li>How to <strong>email</strong> your customers effectively
<li>How to <strong>test</strong> your Stripe integration
</ul>
</div>

<p style="margin-top: 2em">
Businesses around the world are using Stripe to process recurring or one-time payments for their Ruby on Rails SaaS offerings. Most of them are probably using a simple integration copied from a "Stripe in 10 minutes" tutorial, but those tutorials don't cover everything you need to make a robust, production-quality payment system. You could be silently losing thousands of dollars and frustrating customers.
</p>

<div style="margin-bottom: 2em; margin-top: 2em;">
  <blockquote>
    <img class="thumbnail pull-right" src="https://d2s7foagexgnc2.cloudfront.net/files/44c0588613cc0bdf47cf/joel_hooks.jpg" style="margin-left: 1em;" alt="Joel Hooks Portrait">
      I'm fairly new to Rails and setting up billing had me flustered for weeks. I was stuck, spinning my wheels, not knowing what was the best route to take. Pete's book is a guiding light of common sense and practical application. Now I can setup billing with confidence, and more importantly, <strong>ship my product</strong>.
      <br><br>
      Joel Hooks - <a href="http://egghead.io">egghead.io</a>
  </blockquote>
</div>

<div style="margin-bottom: 2em; margin-top: 2em;">
  <blockquote>
    <img class="thumbnail pull-right" src="https://d2s7foagexgnc2.cloudfront.net/files/2a34b4be575a85bdf517/matt_vanderpol.jpg" style="margin-left: 1em;" alt="Matt Vanderpol Portrait">
      Mastering Modern Payments is a fantastic resource for integrating Stripe billing with your Rails app. Pete does a great job of pulling together existing resources and blending them with his own experience to provide a <strong>clear, valuable guide</strong> for billing with Stripe.
      <br><br>
      Matt Vanderpol - founder QAtab
  </blockquote>
</div>

<div class="well" style="margin-top: 2em; margin-bottom: 2em; text-align: center;" id="upsell">
  <h3>Get the FREE sample chapter</h3>
  <p>Put your email address in for a short email course on how to make your<br> Rails and Stripe integration sing, including a free chapter.</p>
  <form action="/subscribe" method="POST" class="form form-inline">
    <input type="text" class="sans" style="font-size: 17.5px; height: 36px; width: 8em; line-height: 22px;" name="name" placeholder="First name"></input>
    <input type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 12em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input class="btn btn-warning btn-large" type="submit" value="Send Me the Course" />
  </form>
  <small>We won't send you spam. Unsubscribe at any time.</small>
</div>

<div style="margin-top: 2em; margin-bottom: 2em">
<img style="float: right; margin-left: 20px; padding-top: 100px;" src="https://d2s7foagexgnc2.cloudfront.net/files/a8dab64c9e6402ee7b16/stripe_rails.png" alt="Stripe + Rails">
<h2>Table of Contents</h2>
<ol>
<li>Introduction
<li>The Simplest Stripe Integration
<li>Security and PCI Compliance
<li>Custom Payment Forms
<li>State and History
<li>Handling Webhooks
<li>Processing Payments with Background Workers
<li>Subscriptions
<li>Marketplaces
<li>Additional Resources
</ol>
</div>

<div style="margin-top: 2em; margin-bottom: 2em">
<h2>About the Author</h2>
<p>
<img class="thumbnail" src="https://d2s7foagexgnc2.cloudfront.net/files/54919f94183b56488a1e/me-small.png" style="float:left; margin-right: 20px; height:100px;" alt="Pete Keen Portrait">
I'm Pete Keen. I've been a professional software developer for seven years and live in Ann Arbor, Michigan. I write a blog at petekeen.net with articles on topics ranging from Ruby and Rails to Perl and robotics and scattered book reviews.
</p>
</div>

<h2 id="packages">The Packages</h2>

<div class="well">
<h3>Audit + Code + Guide <small><a href="#code-guide"><span class="pull-right date">More packages below <i class="fa fa-arrow-down"></i></span></a></small></h3>
<p>
The most important question you can ask of a Stripe implmentation is <strong>"does it work?"</strong> The second most important question is <strong>"will it keep working?"</strong></p>

<p><strong>Audit + Code + Guide</strong> will help you confidently say <strong><em>yes</em></strong> to both questions. It includes the guide in four different formats and the full source code of a complete, working, production quality Stripe + Rails application.
</p>
<p>
The Audit portion includes an hour of one-on-one coaching with me, Pete Keen, which you can use any time while you're implementing your Stripe integration. When you're done, I'll do a complete code review and security scan of your Stripe integration. Click the buttom below to find out more.
</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> The full source code for the Rails application I use to sell the guide
<li><span class="mmp-icon"><i class="fa fa-group"></i></span> One hour of one-on-one implementation guidance
<li><span class="mmp-icon"><i class="fa fa-check"></i></span> A code review and security audit when you're finished
</ul>
<a class="btn btn-large btn-success" href="/stripe-audit">Apply for the Audit</span></a><span style="margin-left: 1em">or keep scrolling for more packages.</span>
</div>

<div class="well highlight" id="code-guide">
<h3>Code + Guide</h3>
<p>Not looking for one-on-one guidance? No problem. <strong>Code + Guide</strong> provides most of the value of <strong>Audit + Code + Guide</strong>, with the book in all four formats and the code for the production application that sells the book.</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> The full source code for the Rails application I use to sell the guide
</ul>
<a class="btn btn-large btn-success payment-button" data-price="59" data-permalink="mastering-modern-payments-deluxe" href="<%= sales_host %>/buy/mastering-modern-payments-deluxe">Learn Now for <span class="striketag"></span><span class="pricetag">$59</span></a>
</div>

<div class="well">
<h3>Just the Guide</h3>
<p>Don't want the sample application either? Totally fine. The guide covers everything you need to know to get your Stripe integration working and accepting payments. And if you decide you want to upgrade later? No problem.</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide
</ul>
<a class="btn btn-large btn-success payment-button" data-price="29" data-permalink="mastering-modern-payments" href="<%= sales_host %>/buy/mastering-modern-payments">Learn Now for <span class="striketag"></span><span class="pricetag">$29</span></a>
</div>

<h2>Questions</h2>

<h3>Which package should I buy?</h3>

<p>That depends on your budget. I strongly suggest at least getting <strong>Code + Guide</strong> because I find having comprehensive source code in front of me helps me to understand better.</p>

<h3>Can I upgrade later on?</h3>

<p>Absolutely! Just reply to your confirmation email that you'd like to upgrade and I'll set it up for you.</p>

<h3>What if I don't use Ruby or Rails?</h3>

<p><strong>Mastering Modern Payments</strong> is really geared toward Rails, but the concepts should be applicable to any language or framework.</p>

<h3>Can I pay with Paypal?</h3>

<p>No problem. Just send the amount that corresponds to the version you want to <code>paypal@petekeen.net</code>.</p>

<h3>Will I get updates?</h3>

<p>Yes! You'll get updates to the guide and associated materials via email notifications.</p>

<h3>If I buy the Audit package and need more guidance, can I buy more hours?</h3>

<p>Absolutely! Subject to availability, each hour is an additional $200 billed in 30 minute increments.</p>

<h3>How do I find out more about you?</h3>

<p>I've been writing about software development and lots of other topics on my blog <a href="https://www.petekeen.net">petekeen.net</a> since 2009 and I tweet at <a href="https://twitter.com/zrail">@zrail</a>.</p>

<h3>What if I hate the guide?</h3>

<p>After selling over $20,000 of Mastering Modern Payments I've had less than a dozen refunds. If you're not happy I'm not happy. Just reply to your receipt email within 30 days and you'll get a full refund.</p>

<h3>I have another question!</h3>

<p>Email me at <a href="mailto:pete@petekeen.net">pete@petekeen.net</a> and I'll do my best to help you out.</p>


<h2>Choose a Package</h2>

<table class="table" style="font-size: 0.8em; margin-bottom: 4em">
  <thead>
    <tr>
      <th>Audit + Code + Guide</th>
      <th class="highlight">Code + Guide</th>
      <th>Just the Guide</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>116 Page PDF</td>
      <td class="highlight">116 Page PDF</td>
      <td>116 Page PDF</td>
    </tr>
    <tr>
      <td>100+ Code Samples</td>
      <td class="highlight">100+ Code Samples</td>
      <td>100+ Code Samples</td>
    </tr>
    <tr>
      <td>ePub, Mobi, HTML</td>
      <td class="highlight">ePub, Mobi, HTML</td>
      <td>ePub, Mobi, HTML</td>
    </tr>
    <tr>
      <td>Example production application</td>
      <td class="highlight">Example production application</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>One-on-one guidance</td>
      <td class="highlight">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Code review and security audit</td>
      <td class="highlight">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a class="btn btn-large btn-success" href="/stripe-audit">Apply</a></td>
      <td class="highlight"><a class="btn btn-large btn-success payment-button" data-price="59" data-permalink="mastering-modern-payments-deluxe" href="<%= sales_host %>/buy/mastering-modern-payments-deluxe"><span class="pricetag">$59</span></a></td>
      <td><a class="btn btn-large btn-success payment-button" data-price="29" data-permalink="mastering-modern-payments" href="<%= sales_host %>/buy/mastering-modern-payments"><span class="pricetag">$29</span></a></td>
    </tr>
  </tbody>
</table>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script type="text/javascript">
  window._pq = window._pq || [];
  _pq.push(['track', 'saw_mmp'])  
</script>
