<h1>The Big List of Stripe Resources</h1>

<div class="well">
  <p style="margin-bottom: 0.5em">Want more? Follow <a href="https://twitter.com/petelinks">@petelinks</a> or subscribe to the newsletter.</p>
  <form action="/subscribe" method="POST" class="form form-inline" style="margin-top: 0em; margin-bottom: 0.5em; display: inline">
    <input type="email" class="sans" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/biglist-confirmed"></input>
    <input type="hidden" name="list_id" value="333cc1d162"></input>
    <input class="btn btn-primary" type="submit" value="Send Me Links"></input>
  </form>
  <p class="date pull-right" style="display: inline">
    Share: <%= partial :share_links %>
  </p>
</div>

<h2>Code</h2>
<dl class="resource-list">

  <dt><a href="https://github.com/stripe">Stripe's GitHub Projects</a></dt>
  <dd>All of Stripe's officially supported libraries are open source.</dd>

  <dt><a href="https://github.com/andrewculver/koudoku">Koudoku</a></dt>
  <dd>Koudoku is a project that aims to provide robust subscription billing support for Rails.</dd>

  <dt><a href="http://railsapps.github.io/rails-stripe-membership-saas/">Rails Stripe Membership SaaS</a></dt>
  <dd>A comprehensive example of a Stripe membership integration</dd>

  <dt><a href="https://github.com/integrallis/stripe_event">StripeEvent</a></dt>
  <dd>Stripe webhook integration for Rails applications</dd>

  <dt><a href="https://github.com/buttercloud/stripe_tester">StripeTester</a></dt>
  <dd>Test Stripe webhooks locally</dd>

  <dt><a href="https://github.com/thefrontside/stripe-rails">Stripe::Rails</a></dt>
  <dd>A Rails engine for integrating with Stripe. Covers plans, coupons, configs, and webhooks.</dd>

  <dt><a href="https://github.com/stripe/monospace-rails">Monospace Rails</a></dt>
  <dd>Stripe's official Rails example application</dd>

  <dt><a href="http://www.shopify.com/blog/6335014-32-free-credit-card-icons#axzz2i4nAS6FV">Shopify Card Icons</a></dt>
  <dd>A great set of 32 credit card icons in various sizes of PNG</dd>

  <dt><a href="https://github.com/vandrijevik/stripe_auto_paginate">Stripe Auto Paginate</a></dt>
  <dd>Automatic pagination for fetching records using Stripe's Ruby API</dd>

  <dt><a href="https://github.com/vandrijevik/sw-node-express-mongoose">sw-node-express-mongoose</a></dt>
  <dd>A fast, Heroku-ready endpoint to record webhooks and ease visualizing the sequence of events, the exact payload, etc. Built on Node and MongoDB.</dd>

</dl>

<h2>Learning</h2>
<dl class="resource-list">

  <dt><a href="https://stripe.com/docs">Official Stripe Docs</a></dt>
  <dd>The official Stripe docs are detailed, well organized, and great for answering specific questions.</dd>

  <dt><a href="https://www.petekeen.net/mastering-modern-payments">Mastering Modern Payments: Using Stripe with Rails</a></dt>
  <dd>116 page ebook packed with helpful tips and best practices for building your Stripe integration.</dd>

  <dt><a href="http://blog.chriswinn.com/working-with-stripe-payouts">Working with Stripe Payouts</a></dt>
  <dd>A short article about integrating Stripe Recipients and Transfers into your Rails app.</dd>

  <dt><a href="https://www.pcisecuritystandards.org">PCI Data Security Standards</a></dt>
  <dd>The official source for all things PCI</dd>

  <dt><a href="http://kencochrane.net/blog/2012/01/developers-guide-to-pci-compliant-web-applications/">Developer's Guide to PCI Compliant Web Applications</a></dt>
  <dd>Ken Cocchrane's guide to building PCI compliant applications. There's some good notes about Stripe in there.</dd>

  <dt><a href="https://support.stripe.com/questions/do-i-need-to-be-pci-compliant-what-do-i-have-to-do">Stripe's PCI Compliance Guide</a></dt>
  <dd>Stripe's official stance on PCI compliance: use SSL, use `stripe.js`. If you do unusual things with the API you'll have to do answer some questions in the management interface.</dd>

  <dt><a href="https://stripe.com/blog/email-receipts">Stripe Email Receipts</a></dt>
  <dd>Stripe offers simple Email receipts that you can just turn on in your account.</dd>

  <dt><a href="https://support.stripe.com/questions/whats-new-with-multiple-subscriptions-per-customer-january-2014">Multiple Subscriptions</a></dt>
  <dd>Stripe just recently enabled support for adding multiple subscriptions.</dd>

  <dt><a href="/stripe-audit">Stripe Audit</a></dt>
  <dd>Code, architecture, and security review for the most important part of your business</dd>

  <dt><a href="http://blog.8thcolor.com/2013/11/rubies-gems-and-dollars-a-journey-in-the-payments-world-part-1-the-backpack/">A Journey in Payment World</a></dt>
  <dd>A five part blog post series about using Stripe from a European perspective. Part 1 is above, <a href="http://blog.8thcolor.com/2013/12/a-journey-in-payment-world-part-2-the-only-part-you-need/">Part 2</a> <a href="http://blog.8thcolor.com/2013/12/a-journey-in-payment-world-part-3-what-is-happening-here/">Part 3</a> <a href="http://blog.8thcolor.com/2014/01/a-journey-in-payment-world-part-4-we-have-a-plan/">Part 4</a>, Part 5 to be published soon.</dd>

</dl>

<div class="well">
  <h4>Did I miss something you love? Email me: <a href="mailto:pete@petekeen.net">pete@petekeen.net</a></h4>
</div>

<% if production? %>
  <script type="text/javascript">
    (function() {
      window._pa = window._pa || {};
      var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/52b08162fa50df42040000b9.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
  </script>
<% end %>
