<div class="entry">
  <div class="formats pull-right">
    <a rel="nofollow" href="/resume.pdf"><img alt="Download PDF" src="https://d2s7foagexgnc2.cloudfront.net/files/7d44797a6ac52e7fb898/pdf.png"></img></a>
    <a rel="nofollow" href="/resume.md"><img alt="Download Plaintext" src="https://d2s7foagexgnc2.cloudfront.net/files/4fb4d0b0a7a0bb33a2e0/markdown.png"></img></a>
  </div>
  <%= @page.render %>
</div>
