<h2><%= @page_title %></h2>
<% @pages.each do |page| %>
  <div class="entry">
    <h3><a href="<%= page.html_path %>"><%= page.title %></a></h3>
    <%= page.render_before_fold %>
    <hr>
  </div>
<% end %>
