<% if show_header %>
  <h2 class="center" style="margin-top: 1em">Build a better Stripe integration with 67% less angst</h2>
<% end %>
<div class="row" id="upsell">
  <div class="span3">
    <div style="float: right; height: 130x; padding-top: 1em; padding-bottom: 2em; text-align: center; margin-left: 1.5em;">
      <a href="https://www.masteringmodernpayments.com">
        <img src="https://d2s7foagexgnc2.cloudfront.net/files/1580aa8b7ecc41ab8450/mmp_v2_with_cover-2.png" style="height: 130px" alt="Mastering Modern Payments" />
      </a>
    </div>
  </div>
  <div class="span4" style="margin-left: 1em; margin-top: 1em">
    <p>Get a <strong>free</strong> four-part email course on how to make your Rails and Stripe integration sing.</p>
    <p>Includes three free chapters of <a href="https://www.masteringmodernpayments.com"><strong>Mastering Modern Payments</strong></a>.</p>
  </div>
</div>
<div class="center" style="margin-bottom: 3em">
  <form action="/subscribe" method="POST" role="form" class="form-inline" style="margin-top: 0.5em;">
    <div class="form-group">
      <label class="sr-only" for="first-name">First Name</label>
      <input type="text" id="first-name" class="sans" style="font-size: 17.5px; height: 36px; width: 8em; line-height: 22px;" name="name" placeholder="First name"></input>
    </div>
    <div class="form-group">
      <label class="sr-only" for="email-address">Email Address</label>
      <input id="email-address" type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 12em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
    </div>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input type="hidden" name="course" value="1.0"></input>
    <input class="btn btn-warning btn-large" type="submit" value="Send Me the Course" />
  </form>
  <small>We won't send you spam. Unsubscribe at any time.</small>
</div>
<% if production? %>
<script type="text/javascript">
  window._pq = window._pq || [];
  _pq.push(['track', 'saw_upsell'])
</script>
<% end %>
