<% if show_header %>
  <h2>If you liked this you should see what's in the book</h2>
<% end %>
<div class="row">
  <div class="span3">
    <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 2em; text-align: center; margin-left: 1.5em;">
      <a href="/mastering-modern-payments"><img src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a>
    </div>
  </div>
  <div class="span4" style="margin-left: 3em">
    <p>
      Stop wasting time searching for answers on old blog posts and Q&A sites. Build a fast, reliable payment integration.
    </p>
    <p>Get a free chapter and email course on how to make your Rails and Stripe integration sing.</p>
  </div>
</div>
<div class="center" style="margin-bottom: 3em">
  <form action="/subscribe" method="POST" class="form form-inline" style="margin-top: 1em;">
    <input type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 20em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input class="btn btn-primary btn-large" type="submit" value="Get The Free Email Course" />
  </form>
  <small>We won't send you spam. Unsubscribe at any time.</small>
</div>
<% if production? %>
  <script type="text/javascript">
    (function() {
      window._pa = window._pa || {};
      var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/52b08162fa50df42040000b9.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
  </script>
<% end %>
