.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.4em;
  line-height: 190%;
  padding-top: 30px;
}

.container-narrow h1 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

blockquote p {
  line-height: 180%;
}

.price {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

.pricing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.nav-links {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
}

.nav-links:before,
.nav-links:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-links:after {
  clear: both;
}
.nav-links > li {
  display: inline;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 14px;
}
.nav-links > li > a {
  padding-right: 12px;
  margin-right: 2px;
  line-height: 14px;
}

hr.separator
{
  margin-bottom: 3em;
  margin-top: 2em;
  display: block;
  color: #999;
  border: 0;
  text-align: center;
}

hr.separator:after {
  content: "....";
  letter-spacing: 2em;
}

.entry {
  margin-bottom: 3em;
}

.entry p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.date {
  color: #999;
  font-size: 90%;
  margin-bottom: 1em;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #CCC;
  margin-bottom: 40px;
}

li {
  line-height: 180%;
}

.fixed-width {
  font-family: monospace;
}

p {
  margin-bottom: 1.5em;
}

.masthead {
  background-image: url("http://files.bugsplatcdn.com/files/ded624de7816989fa2fc/bugsplat-2.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right 10px;
}

blockquote {
  font-size: 90%;
}

.formats {
  margin-top: -5px;
}

.jumbo {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.5em;
  font-style: bold;
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.form-big input {
  font-size: 20px;
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
}

.btn {
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
}

.form-big input.text {
  height: 34px;
}

body {
  font-family: 'Lora', georgia, times, serif;
}

footer, .masthead {
  font-family: 'Lato', helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-weight: bold;
  line-height: 50px;
  color: inherit;
  text-rendering: optimizelegibility;
}


code,pre {
  font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
  margin-bottom: 2em;
  font-size: 0.9em;
  line-height: 140%;
}

