body.book {
  background-color: #eee;
  font-family: 'Lato', helvetica, arial, sans-serif;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.3em;
  line-height: 190%;
  padding-top: 30px;
}

.book .container-narrow {
  border: 1px solid #ccc;
  background-color: #fcfcfc;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 3em;
  margin-top: 1em;
}

blockquote p {
  line-height: 180%;
}

.price {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

.pricing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.nav-links {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
}

.nav-links:before,
.nav-links:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-links:after {
  clear: both;
}
.nav-links > li {
  display: inline;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 14px;
}
.nav-links > li > a {
  padding-right: 12px;
  margin-right: 2px;
  line-height: 14px;
}

hr.separator
{
  margin-bottom: 3em;
  margin-top: 2em;
  display: block;
  color: #999;
  border: 0;
  text-align: center;
}

hr.separator:after {
  content: "....";
  letter-spacing: 2em;
}

.entry {
  margin-bottom: 3em;
}

.entry p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.date {
  color: #999;
  font-size: 90%;
  margin-bottom: 1em;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #CCC;
  margin-bottom: 40px;
}

li {
  line-height: 180%;
}

.fixed-width {
  font-family: monospace;
}

p {
  margin-bottom: 1.5em;
}

.masthead {
  background-image: url("https://d2s7foagexgnc2.cloudfront.net/files/ded624de7816989fa2fc/bugsplat-2.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right 10px;
}

blockquote {
  font-size: 90%;
}

.formats {
  margin-top: -5px;
}

.jumbo {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.5em;
  font-style: bold;
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.form-big input {
  font-size: 20px;
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
}

.btn {
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
}

.form-big input.text {
  height: 34px;
}

body {
  font-family: 'Lora', georgia, times, serif;
}

footer, .masthead {
  font-family: 'Lato', helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-weight: bold;
  line-height: 50px;
  color: inherit;
  text-rendering: optimizelegibility;
}


code,pre {
  font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
  margin-bottom: 2em;
  font-size: 0.9em;
  line-height: 140%;
}

ul.article-list {
  list-style: none;
  margin-left: 0;
}

span.about-header {
  font-family: 'Lato', helvetica, arial, sans-serif;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

div.about {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

div.about .thumbnail {
  float: right;
  margin-left: 20px;
  height: 180px;
}

ul.archive-list {
  list-style: none;
  margin-left: 0;  
}

span.header {
  font-size: 2.1em;
  font-weight: bold;
  font-family: 'Lato', helvetica, arial, sans-serif;
  border-bottom: 1px solid #CCC;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  display: block;
}

.container-narrow h1 {
  font-size: 1.75em;
}

.container-narrow h1.book {
  border-bottom: 1px solid #CCC;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: normal;
}

div.question {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-weight: bold;
}

.mmp-icon {
  display: inline-block;
  width:1.25em;
  text-align:center;
  margin-right: 0.5em;
  color: #777;
}

div.well h3 {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0.5em;
  line-height: 20px;
}

div.well ul {
  padding-bottom: 1em;
}

div.well.highlight {
  background-color: #fff;
}

th.highlight, td.highlight {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

table.table {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.table th, .table td {
  border-top: 0px;
  border-bottom: 0px;
  width: 233px;
  text-align: center;
}

h2.preorder {
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

a del {
  color: #ccc;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }