
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */