@charset "UTF-8";


.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */