---
title: Essays
id: e
skip_metadata: true
---

<p>
  I've been writing and publishing essays on this site since 2010. Here they are, gathered into topics. If you'd like to see them chronologically check out the <a href="/archive">full archive</a>.
</p>

<% @app.pages.topics.each do |topic| %>
  <h2><%= topic %></h2>
  <dl class="resource-list">
  <% @app.pages.for_topic(topic).each do |page| %>
    <dt><a href="<%= page.html_path %>"><%= page.title %></a></dt>
    <dd><%= page.headers['description'] %></dd>
  <% end %>
<% end %>
