---
title: Essays
id: e
skip_metadata: true
---

<p>
  I've been writing and publishing essays on this site since 2010. Here they are, gathered into topics. If you'd like to see them chronologically check out the <a href="/archive">full archive</a>.
</p>

<h2>Best Of (start here)</h2>
<dl class="resource-list">
  <dt><a href="/mastering-modern-payments">Mastering Modern Payments: Using Stripe with Rails</a></dt>
  <dd>A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application.</dd>

  <dt><a href="/dns-the-good-parts">DNS: The Good Parts</a></dt>
  <dd>Dig through the DNS and learn how and why it all works.</dd>

  <dt><a href="/keeping-finances-with-ledger">Program your Finances: Command-line Accounting</a></dt>
  <dd>All about my financial journey, from debt-ridden towards debt-free. More importantly, this is a very basic introduction to how to use ledger to keep track of your finances. This has been described as the best introduction to ledger out there.</dd>

  <dt><a href="/stripe-webhook-event-cheatsheet">The Stripe Webhook Event Cheatsheet</a></dt>
  <dd>Fourteen common scenarios and the hooks that Stripe fires for them, including full JSON samples.</dd>
</dl>

<% @app.pages.topics.each do |topic| %>
  <h2><%= topic %></h2>
  <dl class="resource-list">
  <% @app.pages.for_topic(topic).each do |page| %>
    <dt><a href="<%= page.html_path %>"><%= page.title %></a></dt>
    <dd><%= page.headers['description'] %></dd>
  <% end %>
<% end %>
