---
title: 'How much can you save with an S-Corp?'
id: scrp
body_class: book hyb
skip_masthead: true
skip_footer: true
description: Check out this interactive calculator to determine how much an S-corp could save you.
thumbnail: https://d2s7foagexgnc2.cloudfront.net/files/d4de5b4d661c825d65d3/hyb_cover_3d_no_shadow.png
---

# How much can you save by starting an S-Corp?

<div class="well" style="width: 12em; float: right; clear: both">Share this: <%= @app.partial :share_links %></div>

If you have an LLC or a normal corporation, the IRS allows you to elect what they call "Subchapter S" taxation.

When you elect S-corp taxation, you agree to abide by a few rules: one class of stock, only individual owners, etc.

In exchange, you get to decide on a reasonable salary for owners, which lets you decide how much you want to pay for Medicare and Social Security.

Normally, you would pay the Self-Employment taxes (both employee and employer sides of Medicare and Social Security taxes) on all of your income, 15.4% up to $118,500 and 2.9% thereafter.

With an S-corp, however, you only pay Self-Employment taxes on your salary.

But how much is that?

----

Use the sliders below to calculate how much less you would pay by electing S-corp taxation.
**Net Income** is how much your business makes after business-related expenses. **Salary** is the portion of your net income you'll pay yourself as a reasonable salary.

<label for="net-income">Net Income</label> <span id="net-income-val"></span>
<input type="range" id="net-income" min="50000" max="250000" step="1000" value="120000"> 

<label for="salary">Reasonable Salary</label> <span id="salary-val"></span>
<input type="range" id="salary" min="50000" max="250000" step="1000" value="90000">

<h2 class="center" style="margin-bottom: 0; margin-top: 0">Self-Employment Taxes Due</h2>

<div class="row center well">
  <div class="col-sm-6">
    <div><strong>Sole Prop</strong></div>
    <div class="calc-result" id="sole-prop-result"></div>
  </div>
  <div class="col-sm-6">
    <div><strong>S-corp</strong></div>
    <div class="calc-result" id="s-corp-result"></div>
  </div>
</div>
<div class="row center well">
  <div class="col-sm-12">
    <div><strong>Money Saved with S-corp</strong></div>
    <div class="calc-result" id="difference"></div>
  </div>
  </div>

---

Want to go further? <a href="/handle-your-business"><strong>Handle Your Business</strong></a> will teach you everything you need to know about S-corps, LLCs, taxes, and more, including how to figure out just what "reasonable salary" means.


<script type="text/javascript">
function numberWithCommas(x) {
    return '$' + x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function recalculate(event) {

  var netIncome = parseFloat($('#net-income').val());
  var salary = parseFloat($('#salary').val());

  if (netIncome <= salary) {
    if (event.target.id == "net-income") {
      salary = netIncome;
      $('#salary').val(netIncome);
    } else {
      netIncome = salary;
      $('#net-income').val(salary);
    }
  }

  $('#net-income-val').text(numberWithCommas(netIncome));
  $('#salary-val').text(numberWithCommas(salary));

  var solePropMedicare = netIncome * 0.029;
  var solePropSS = Math.min(netIncome, 118500) * 0.124;

  $("#sole-prop-result").text(numberWithCommas(Math.round(solePropMedicare + solePropSS)));

  var sCorpMedicare = salary * 0.029;
  var sCorpSS = Math.min(salary, 118500) * 0.124;

  $("#s-corp-result").text(numberWithCommas(Math.round(sCorpMedicare + sCorpSS)));

  var difference = Math.round((solePropMedicare + solePropSS) - (sCorpMedicare + sCorpSS));
  
  $("#difference").text(numberWithCommas(difference));
}

window.onload = function() {
  $('#net-income').on("input", recalculate);
  $('#salary').on("input", recalculate);

  recalculate();
};
</script>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
