---
title: Mail Rep Terms and Conditions
id: mrtc
skip_masthead: true
body_class: book
skip_footer: true
hide_from_archive: true
---

<h2>Mail Rep Terms and Conditions</h2>

<p>
This is an agreement between Okapi, LLC (“I”, “me”, “my”, “we,” “us,” “our”) and any individual, entity, or organization that procures the “Mail Rep” services (“you” or “your”). 
</p>

<ol>
  <li>
    <strong>Acceptance of Terms:</strong> Any work that we do for you is governed by this agreement. This agreement is a binding contract between you and Okapi LLC.
  </li>
  <li>
    <strong>Terms May Change:</strong> From time to time we may change the terms of this agreement, including the amount of our fees. If we do change the terms and/or pricing, the new terms and/or pricing will become effective for you 30 days after the effective date of those changes.
  </li>

  <li>
    <strong>Payment:</strong> Complete payment is due before service is rendered. Upon payment we will reserve a spot on our docket for you. In addition, before commencing services you must complete an informational questionaire.
  </li>

  <li>
    <strong>Taxes:</strong> The fees do not include applicable sales and use taxes.  You are responsible for these taxes.
  </li>

  <li>
    <strong>Refund:</strong> If you are truly not satisfied with our service, you may request a full refund. To obtain a refund, you need to ask us in writing (an email to sales@payola.io) for a refund within thirty days of the completion of the services. No refund is available after that time period.
  </li>

  <li>
    <strong>Services:</strong> Mail Rep includes the following services:

    <ul>
      <li>Intitial Setup</li>
      <li>Data Collection</li>
      <li>Refinement</li>
    </ul>
  </li>

  <li>
    <strong>Termination</strong>: Once you have paid our fee, returned the questionaire, and we have completed the kickoff meeting, neither of us may terminate this agreement, except on material breach of it by the other party, and only if the other party has failed to cure it's breach within thirty (30) days notice.
  </li>

  <li>
    <strong>No Guarantee of Results:</strong> We make no guarantee about the number of conversions, click-throughs, sales, impressions, or any return on investment resulting from our work with you.
  </li>

  <li>
    <strong>Content Ownership:</strong> Any changes to your website that we make for you are owned by you. Except to the extent that we use code that we have developed for general use or for use with other clients, we assign all right, title, and interest, in such changes to you. To the extent that any of the code we have previously developed is incorporated into the changes we make on your site, we grant you a non-exclusive license to use that code as we have incorporated it into your site (but we grant no other rights). Note that nothing in this paragraph grants you any rights to our own website or the content on it.
  </li>

  <li>
    <strong>Representations and Warranties:</strong> EXCEPT FOR THE EXPRESS REPRESENTATIONS AND WARRANTIES STATED IN THIS AGREEMENT, WE MAKE NO WARRANTIES WHATSOEVER AND WE EXPLICITLY DISCLAIM ANY AND ALL OTHER WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. EXCEPT AS MAY BE EXPRESSLY PROVIDED, OUR SERVICES AND ANY MATERIALS DELIVERED TO YOU ARE PROVIDED “AS IS.”
  </li>

  <li>
    <strong>Limitation on Liability: </strong>OUR LIABILITY UNDER THIS AGREEMENT WITH RESPECT TO THE SERVICES THAT WE PROVIDE, ANY CODE THAT WE INSTALL ON YOUR SITE, ANY REPORTS THAT WE PROVIDE, OR ANY OTHER MATERIALS PROVIDED AS PART OF OUR SERVICES, IS LIMITED TO CORRECTION OF THE SERVICES OR MATERIALS. IF CORRECTION IS NOT POSSIBLE OR IMPRACTICAL, THEN OUR LIABILITY IS LIMITED TO A REFUND OF ANY FEES PAID TO US BY YOU UNDER THIS AGREEMENT. THIS LIABILITY LIMIT APPLIES TO ANY LEGAL THEORY OF DAMAGES, INCLUDING NEGLIGENCE, CONTRACT, WARRANTY, OR OTHERWISE AS MAY BE APPLICABLE. WE SHALL NOT BE LIABLE FOR ANY LOST PROFITS, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
  </li>

  <li>
    <strong>Indemnification:</strong> You agree to indemnify, defend, and hold us, my employees, contractors, agents, and affiliates harmless against any third-party claims of copyright, trademark, trade secret, or other intellectual property infringement brought against us for using any of the materials that you provide to us to perform services for you.
  </li>

  <li>
    <strong>Publicity:</strong> You grant us the right to mention the following on our website, and in our marketing and advertising collateral: your company’s name; and the work that we did for you.
  </li>

  <li>
    <strong>Business Hours:</strong> Our normal business hours are 9am-5pm Eastern Time, Monday through Friday excluding holidays. We agree to put in a commercially reasonable efforts to reply to anything business-related during business hours.
  </li>

  <li>
    <strong>Assignment:</strong> You may only assign this agreement to an organization that acquires all or most of your stock, assets, or business. This agreement will bind your heirs, assigns, executors and administrators.
  </li>

  <li>
    <strong>Miscellaneous:</strong>  We are an independent contractor. By entering this contract, we are not creating a joint venture or partnership. We provide services to a number of clients. You recognize and agree that we may provide services to a number of individuals and organizations and are in no way obligated to provide services exclusively to you. All notices, authorizations, and requests sent to either party in connection with this agreement shall be deemed given on the day they are either (a) deposited in the U.S. mail, postage prepaid, certified or registered, return receipt requested or (b) sent by air express courier with charges prepaid, and addressed as set forth below (or to such other address as the party to receive the notice or request so designates by written notice to the other party).  If a court of competent jurisdiction finds any provision of this agreement or portion thereof, to be unenforceable, then this agreement shall immediately be deemed amended or modified to exclude such clause or provision and the remainder of this agreement shall continue in full force and effect.  No failure by either party to exercise a right under this agreement or under law shall operate as a waiver thereof.  No waiver of any breach of this agreement shall constitute a waiver of any other breach.  No waiver shall be effective unless in writing and signed by the waiving party. This agreement contains the entire agreement between the parties concerning its subject matter, and supersedes all oral understandings, representations, prior discussions and preliminary agreements of any nature.  This agreement does not constitute an offer by us and it shall not be effective until we have begun to provide the services.  Except as may be specifically allowed hereunder, this agreement may not be modified or amended except by a written amendment to this agreement signed by authorized representatives of both parties. This agreement is only intended to benefit you, the client, and us, not any third party.  We will not be in breach of this agreement if fire, earthquake, illness, death, act of God, labor dispute, or other event beyond our control prevents us from providing services in a timely fashion. We will notify you promptly about the situation and work with you to establish a timeline for completing our services, if possible. Michigan law governs this contract. We both agree to resolve any disputes exclusively in the state or federal courts located in Washtenaw County, Michigan and not anywhere else. You submit to the personal jurisdiction and venue of those courts.
  </li>
</ol>

