---
title: 'Mastering Modern Payments: Using Stripe with Rails'
id: mmp
layout: book_layout
view: book
mmp: true
alternate_links: mmppo mmp-preorders
description: A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application.
---

<div id="paymentModal" class="modal hide fade" role="dialog">
  <div class="modal-body">
    <iframe src="about:blank" style="zoom:0.6" width="99.6%" height="450" frameborder="0"></iframe>
  </div>
</div>

<h1 class="book">Mastering Modern Payments <small>Using Stripe with Rails</small></h1>

<div class="question">Build a better Stripe integration with 43% less pain</div>

<p style="margin-bottom: 2em">
<p>
    My new guide <strong><em>Mastering Modern Payments: Using Stripe with Rails</em></strong> will teach you:
</p>

  <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 4em; text-align: center; margin-left: 1.5em;">
    <a href="#packages"><img style="padding-bottom: 20px" src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a><br><a href="#packages" class="btn btn-success btn-large">Start Learning Now</a>
  </div>

<div>
<ul>
<li>Why a simple 10-minute integration <strong>isn't enough</strong>
<li>Dealing with <strong>security</strong> including PCI-DSS
<li>How and why to use <code>stripe.js</code> and <code>checkout.js</code>
<li>How to build <strong>custom payment forms</strong>
<li>How to set up Rails to keep an <strong>audit trail</strong> for you automatically
<li>How to handle <strong>subscription billing</strong>
<li>How to create <strong>marketplaces</strong> with Stripe Connect and Stripe Payouts
<li>How and why you should process payments using a <strong>background worker</strong>
<li>How to <strong>email</strong> your customers effectively
<li>How to <strong>test</strong> your Stripe integration
</ul>
</div>

<p style="margin-top: 2em; margin-bottom: 2em;">
Businesses around the world are using Stripe to process recurring or one-time payments for their Ruby on Rails SaaS offerings. Most of them are probably using a simple integration copied from a "Stripe in 10 minutes" tutorial, but those tutorials don't cover everything you need to make a robust, production-quality payment system. You could be silently losing thousands of dollars and frustrating customers.
</p>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
    <img class="thumbnail pull-right" src="http://d2s7foagexgnc2.cloudfront.net/files/65bd410612330853b5d0/christian_genco.png" style="margin-left: 1em;" alt="Christian Genco Portrait">
    Mastering Modern Payments was like a pool of <strong>cool refreshing water</strong> after I'd been traveling in the desert of obscurity for weeks. Unlike the API docs, or most blog posts I found on the topic, Pete thought this through three steps ahead of solving the problems I'd be having a few weeks or months after deployment. This will end up <strong>saving me an immeasurable amount of time and money</strong>.
      <br><br>
      <a href="http://christian.gen.co/">Christian Genco</a>
  </blockquote>
</div>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
    <img class="thumbnail pull-right" src="https://d2s7foagexgnc2.cloudfront.net/files/44c0588613cc0bdf47cf/joel_hooks.jpg" style="margin-left: 1em;" alt="Joel Hooks Portrait">
      I'm fairly new to Rails and setting up billing had me flustered for weeks. I was stuck, spinning my wheels, not knowing what was the best route to take. Pete's book is a guiding light of common sense and practical application. Now I can setup billing with confidence, and more importantly, <strong>ship my product</strong>.
      <br><br>
      Joel Hooks - <a href="http://egghead.io">egghead.io</a>
  </blockquote>
</div>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
    <img class="thumbnail pull-right" src="https://d2s7foagexgnc2.cloudfront.net/files/2a34b4be575a85bdf517/matt_vanderpol.jpg" style="margin-left: 1em;" alt="Matt Vanderpol Portrait">
      Mastering Modern Payments is a fantastic resource for integrating Stripe billing with your Rails app. Pete does a great job of pulling together existing resources and blending them with his own experience to provide a <strong>clear, valuable guide</strong> for billing with Stripe.
      <br><br>
      Matt Vanderpol - founder QAtab
  </blockquote>
</div>

<div style="margin-top: 6em; margin-bottom: 2em">
<img style="float: right; margin-left: 20px; padding-top: 100px;" src="https://d2s7foagexgnc2.cloudfront.net/files/a8dab64c9e6402ee7b16/stripe_rails.png" alt="Stripe + Rails">
<h2>Table of Contents</h2>
<ol>
<li>Introduction
<li>The Simplest Stripe Integration
<li>Security and PCI Compliance
<li>Custom Payment Forms
<li>State and History
<li>Handling Webhooks
<li>Processing Payments with Background Workers
<li>Subscriptions
<li>Marketplaces
<li>Additional Resources
</ol>
</div>

<div style="margin-top: 4em; margin-bottom: 2em">
<h2>About the Author</h2>
<p>
<img class="thumbnail" src="https://d2s7foagexgnc2.cloudfront.net/files/54919f94183b56488a1e/me-small.png" style="float:left; margin-right: 20px; height:100px;" alt="Pete Keen Portrait">
I'm Pete Keen. I've been a professional software developer for seven years and live in Ann Arbor, Michigan. I write a blog at petekeen.net with articles on topics ranging from Ruby and Rails to Perl and robotics and scattered book reviews.
</p>
</div>

<h2 style="margin-top: 4em" id="packages">The Packages</h2>

<div class="well" id="code-guide">
<h3>Code + Guide for Teams</h3>
<p>Code + Guide for Teams lets your entire team share Mastering Modern Payments along with the full production application used to sell it.</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> The full source code for the Rails application I use to sell the guide
<li><span class="mmp-icon"><i class="fa fa-users"></i></span> Team license for up to 50 people.
</ul>
<a class="btn btn-large btn-success payment-button" data-price="299" data-permalink="mastering-modern-payments-team" href="<%= @app.sales_host %>/buy/mastering-modern-payments-team">Learn Now for <span class="striketag"></span><span class="pricetag">$299</span></a>
</div>

<div class="well highlight" id="code-guide">
<h3>Code + Guide</h3>
<p>Code + Guide includes the book and the full source code for the Rails application that you'll use to purchase the guide. This application includes several mailers and a complete implmentation of Stripe charges using Sidekiq.</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> The full source code for the Rails application I use to sell the guide
</ul>
<a class="btn btn-large btn-success payment-button" data-price="59" data-permalink="mastering-modern-payments-deluxe" href="<%= @app.sales_host %>/buy/mastering-modern-payments-deluxe">Learn Now for <span class="striketag"></span><span class="pricetag">$59</span></a>
</div>

<div class="well">
<h3>Just the Guide</h3>
<p>The guide is packed with juicy tips, best practices, and code samples to help you get your Stripe working fast and easy.</p>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide
</ul>
<a class="btn btn-large btn-success payment-button" data-price="29" data-permalink="mastering-modern-payments" href="<%= @app.sales_host %>/buy/mastering-modern-payments">Learn Now for <span class="striketag"></span><span class="pricetag">$29</span></a>
</div>

<p class="center" style="margin-top: 2em"><em>Not quite ready to buy yet? <a href="/newsletter?topic=Stripe">Sign up for the newsletter</a> to join more than 1000 developers and get weekly updates about Stripe, Ruby, Rails, and more.</em></p>

<h2 style="margin-top: 3em">Questions</h2>

<h4>Which package should I buy?</h4>

<p>That depends on your budget. I strongly suggest at least getting <strong>Code + Guide</strong> because I find having comprehensive source code in front of me helps me to understand better.</p>

<h4>Can I upgrade later on?</h4>

<p>Absolutely! Just reply to your confirmation email that you'd like to upgrade and I'll set it up for you.</p>

<h4>What if I don't use Ruby or Rails?</h4>

<p><strong>Mastering Modern Payments</strong> is really geared toward Rails, but the concepts should be applicable to any language or framework.</p>

<h4>Can I pay with Paypal?</h4>

<p>No problem. Just send the amount that corresponds to the version you want to <code>paypal@petekeen.net</code>.</p>

<h4>Will I get updates?</h4>

<p>Yes! You'll get updates to the guide and associated materials via email notifications.</p>

<h4>How do I find out more about you?</h4>

<p>I've been writing about software development and lots of other topics on my blog <a href="https://www.petekeen.net">petekeen.net</a> since 2009 and I tweet at <a href="https://twitter.com/zrail">@zrail</a>.</p>

<h4>What if I hate the guide?</h4>

<p>After selling over $20,000 of Mastering Modern Payments I've had less than a dozen refunds. If you're not happy I'm not happy. Just reply to your receipt email within 30 days and you'll get a full refund.</p>

<h4>I have another question!</h4>

<p>Email me at <a href="mailto:pete@petekeen.net">pete@petekeen.net</a> and I'll do my best to help you out.</p>

<div class="well" style="margin-top: 4em; margin-bottom: 2em; text-align: center;" id="upsell">
  <h3>Get the FREE sample chapter</h3>
  <p>Put your email address in for a short email course on how to make your<br> Rails and Stripe integration sing, including a free chapter.</p>
  <form action="/subscribe" method="POST" class="form form-inline">
    <input type="text" class="sans" style="font-size: 17.5px; height: 36px; width: 8em; line-height: 22px;" name="name" placeholder="First name"></input>
    <input type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 12em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input class="btn btn-warning btn-large" type="submit" value="Send Me the Course" />
  </form>
  <small>We won't send you spam. Unsubscribe at any time.</small>
</div>

<h2 style="margin-top: 4em">Choose a Package</h2>

<%= @app.partial :_package_table %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script type="text/javascript">
  window._pq = window._pq || [];
  _pq.push(['track', 'saw_mmp'])  
</script>
