---
title: 'Mastering Modern Payments: Using Stripe with Rails'
id: mmp
layout: book_layout
view: book
mmp: true
alternate_links: mmppo mmp-preorders
description: A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application.
---

<div id="paymentModal" class="modal hide fade" role="dialog">
  <div class="modal-body">
    <iframe src="about:blank" style="zoom:0.6" width="99.6%" height="450" frameborder="0"></iframe>
  </div>
</div>

<h1 class="book">Mastering Modern Payments <span class="visible-xs"><br></span><small>Using Stripe with Rails</small></h1>

<h2>The complete guide to getting paid with Stripe and Rails.</h2>

  <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 4em; text-align: center; margin-left: 1.5em;">
    <a href="#packages"><img class="img-responsive" style="padding-bottom: 20px" src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a>
  </div>

<p>
  Every time you have to write another Stripe integration you drag your heels. It's frustrating. There are <strong>lots of moving pieces</strong> and no one place to see a complete implementation. How do you work with <strong>webhooks</strong>? Where should you <strong>set up subscription plans</strong>? What's the best way to make sure <strong>your customers aren't left hanging</strong> if Stripe falls over?
</p>

<p>
  Tutorials only get you so far, though. Soon, you're looking at blog posts from years ago and wondering if they're still correct. <strong>API documentation doesn't help if you don't know what you're looking for</strong>. GitHub has lots of payment gems, but how do you know if they're any good?
</p>

<p>
What if you could read a story and follow along with a complete production application? What if you knew for certain that you're reading the most up-to-date best practices?
</p>

<h2>What if you could get paid sooner and more reliably?</h2>

<p>
Over the last two years I've written Stripe integrations in half a dozen Rails applications and worked with more for consulting clients. Like you, I've combed through the docs and the blog posts and the GitHub repositories looking for answers and come up short.
</p>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
    Mastering Modern Payments was like a pool of <strong>cool refreshing water</strong> after I'd been traveling in the desert of obscurity for weeks. Unlike the API docs, or most blog posts I found on the topic, Pete thought this through three steps ahead of solving the problems I'd be having a few weeks or months after deployment. This will end up <strong>saving me an immeasurable amount of time and money</strong>.
      <br><br>
      <img class="img-circle" src="http://d2s7foagexgnc2.cloudfront.net/files/65bd410612330853b5d0/christian_genco.png" style="width: 2em; margin-right: 1em" alt="Christian Genco Portrait">
      Christian Genco
  </blockquote>
</div>

<p>
After going through this dance over and over, I'v distilled my experiences into a comprehensive, concise guide named Mastering Modern Payments: Using Stripe with Rails. Don't make wrong turns. Learn from my mistakes and use the plan that has successfully processed thousands of transactions for over 1000 readers.
</p>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
      I'm fairly new to Rails and setting up billing had me flustered for weeks. I was stuck, spinning my wheels, not knowing what was the best route to take. Pete's book is a guiding light of common sense and practical application. Now I can setup billing with confidence, and more importantly, <strong>ship my product</strong>.
      <br><br>
      <img class="img-circle" src="https://d2s7foagexgnc2.cloudfront.net/files/44c0588613cc0bdf47cf/joel_hooks.jpg" style="width: 2em; margin-right: 1em;" alt="Joel Hooks Portrait">
      Joel Hooks
  </blockquote>
</div>

<h2><strong>Includes everything you need.</strong></h2>

<p>Don't waste a week writing the wrong thing or exposing credit card information. In this guide you'll have everything you'll need to srite a correct, fast, and customer-friendly Stripe integration:</p>

<div>
<ul>
<li>Dealing with <strong>security</strong> including PCI-DSS
<li>How and why to use <code>stripe.js</code> and <code>checkout.js</code>
<li>How to build <strong>custom payment forms</strong>
<li>How to set up Rails to keep an <strong>audit trail</strong> for you automatically
<li>How to handle <strong>subscription billing</strong>
<li>How to create <strong>marketplaces</strong> with Stripe Connect and Stripe Payouts
<li>How and why you should process payments using a <strong>background worker</strong>
<li>How to <strong>email</strong> your customers effectively
<li>How to <strong>test</strong> your Stripe integration
</ul>
</div>

<div style="margin-bottom: 2em; margin-top: 4em;">
  <blockquote>
      Mastering Modern Payments is a fantastic resource for integrating Stripe billing with your Rails app. Pete does a great job of pulling together existing resources and blending them with his own experience to provide a <strong>clear, valuable guide</strong> for billing with Stripe.
      <br><br>
      <img class="img-circle" src="https://d2s7foagexgnc2.cloudfront.net/files/2a34b4be575a85bdf517/matt_vanderpol.jpg" style="width: 2em; margin-right: 1em;" alt="Matt Vanderpol Portrait">Matt Vanderpol
  </blockquote>
</div>

<div class="well" id="packages">
<h3 class="center">Team Package</h3>
<h4 class="center pricetag" data-price="299">$299</h4>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> The full source code for the Rails application I use to sell the guide
<li><span class="mmp-icon"><i class="fa fa-users"></i></span> Team license for up to 50 people.
</ul>
<p class="center">
<a class="btn btn-lg btn-success payment-button" data-price="299" data-permalink="mastering-modern-payments-team" href="<%= @app.sales_host %>/buy/mastering-modern-payments-team"><span class="visible-xs">Buy &rarr;</span><span class="hidden-xs">Purchase the Team Package &rarr;</span></a>
</p>
</div>

<div class="well">
<h3 class="center">Complete Package</h3>
<h4 class="center pricetag" data-price="59">$59</h4>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
<li><span class="mmp-icon"><i class="fa fa-code"></i></span> <strong>The full source code for complete production Stripe integration</strong>
</ul>
<p class="center">
<a class="btn btn-lg btn-success payment-button" data-price="59" data-permalink="mastering-modern-payments-deluxe" href="<%= @app.sales_host %>/buy/mastering-modern-payments-deluxe"><span class="visible-xs">Buy &rarr;</span><span class="hidden-xs">Purchase the Complete Package &rarr;</span></a>
</p>
</div>

<div class="well">
<h3 class="center">Basic Package</h3>
<h4 class="center pricetag" data-price="29">$29</h4>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="fa fa-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="fa fa-download"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="fa fa-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="fa fa-bell"></i></span> Periodic updates to the guide and the code
</ul>
<p class="center">
<a class="btn btn-lg btn-success payment-button" data-permalink="mastering-modern-payments" href="<%= @app.sales_host %>/buy/mastering-modern-payments"><span class="visible-xs">Buy &rarr;</span><span class="hidden-xs">Purchase the Basic Package &rarr;</span></a>
</div>


<p class="center" style="margin-top: 2em"><em>Not quite ready to buy yet? <a href="/newsletter?topic=Stripe">Sign up for the newsletter</a> to join more than 1000 developers and get email updates about Stripe, Ruby, Rails, and more.</em></p>

<h2 style="margin-top: 3em">Will there be updates?</h2>

<p>Stripe and Rails both change all the time, and so is this guide. Part of what you're buying with Mastering Modern Payments is access to a continually updated handbook of best practices.</p>

<h2 style="margin-top: 3em">What if I get nothing out of this?</h2>

<p>The current version of the guide is the product of over a year of editing and conversations with dozens of developers just like you. If you're a Rails developer integrating Stripe, this is the guide for you.</p>

<p>That said, if you feel like you haven't gotten your money's worth, simply send me an email for a <strong>full 100% moneyback guarantee.</strong></p>

<div class="well" style="margin-top: 4em; margin-bottom: 2em; text-align: center;" id="upsell">
  <h3>Get the FREE sample chapter</h3>
  <p>Put your email address in for a short email course on how to make your<br> Rails and Stripe integration sing, including a free chapter.</p>
  <form action="/subscribe" method="POST" role="form" class="form-inline">
    <input type="text" class="sans form-control" name="name" placeholder="First name"></input>
    <input type="email" class="sans form-control" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input class="btn btn-warning" type="submit" value="Send Me the Course" />
  </form>
  <small>No spam. Unsubscribe at any time.</small>
</div>

<div style="margin-top: 4em; margin-bottom: 2em">
<h2>About the Author</h2>
<p>
<img class="thumbnail" src="https://d2s7foagexgnc2.cloudfront.net/files/54919f94183b56488a1e/me-small.png" style="float:left; margin-right: 20px; height:100px;" alt="Pete Keen Portrait">
I'm Pete Keen. I've been a professional software developer for seven years and live in Ann Arbor, Michigan. I write a blog at petekeen.net with articles on topics ranging from Ruby and Rails to Perl and robotics and scattered book reviews.
</p>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script type="text/javascript">
  window._pq = window._pq || [];
  _pq.push(['track', 'saw_mmp'])  
</script>
