---
title: Stripe Rails Course
id: course
description: A free five day course with tips on integrating Stripe with Rails
skip_masthead: true
body_class: book
---

<h1 class="book big center">The Stripe Rails Email Course</h1>

<p>Sign up for this <strong>free</strong> five day email course that contains</p>

<ul>
  <li> How to handle Stripe webhook events with a library named `stripe_event`
  <li> How to test your Stripe integration with Stripe Mock
  <li> Processing payments using background workers
  <li> Ample opportunity to ask questions and give feedback
  <li> A sample chapter from my book Mastering Modern Payments.
</ul>

<hr>

<%= @app.partial :upsell, show_header: false %>
